/* loader */

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #210a0ad9;
    top: 0;
    z-index: 10000;
}



.hidden {
    display: none;
}


.option_backgroundImage {
    width: auto;
    height: 55px;
    border-bottom: solid 1px;
}

    .option_backgroundImage > a {
        display: inline-block;
        float: right;
        width: 90%;
    }

    .option_backgroundImage > img {
        height: 50px;
        max-width: 80px;
        z-index: 1000;
        float: left;
        display: inline-block;
        width: 10%;
    }

.image_icon {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 9px;
    background-position-y: 7px;
}
