@model Data.LinkShortener.ViewModel.User.ApplicationUserModel

@{
	Layout = "_AdminLayout";
}

<!-- counter:start: -->
<div class="row gutters-sm">

	<!-- start:col: -->
	<div class="col-12 col-xl-12 mb-3">

		<!-- start:portlet -->
		<div class="portlet">

			<div class="portlet-header border-bottom">
				<span>ویرایش</span>
			</div>

			<div class="portlet-body">
				<div class="container py-6">

					<form method="post">
						@await Component.InvokeAsync("EditCreateTemplate", new { Model, Html.ViewContext.HttpContext })
						<div class="mt--10">
							<button class="btn btn-primary" type="submit">تایید</button>
							<a asp-action="Index" class="btn btn-dark">لیست</a>
						</div>
					</form>

				</div>
			</div>

		</div>
		<!-- end:portlet -->

	</div>
	<!-- end:col: -->

</div>
<!-- end:row: -->