@model StaticModel

@{
    Layout = "_MyLayout";
}


<div class="container Statics_container">
    <div class="row Statics_row">
        <div class="col">
            لینک اصلی
        </div>
        <div class="col">
            <a target="_blank" href="@Model.Link.MainLink">@Model.Link.MainLink</a>
        </div>
    </div>
    <div class="row Statics_row">
        <div class="col">
            لینک کوتاه
        </div>
        <div class="col">
            <a target="_blank" href="https://ls1.ir/@Model.Link.ShortLink">@Model.Link.ShortLink</a>
        </div>
    </div>
    <div class="row Statics_row">
        <div class="col">
            تعداد بازدید
        </div>
        <div class="col">
            @Model.Statics.Count
        </div>
    </div>
</div>