@model Data.LinkShortener.ViewModel.User.ForgotPasswordModel

<section>
	<div class="container">


		<div class="row">

			<div class="col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3">


				<!-- optional class: .form-control-pill -->
				<form asp-controller="Account" asp-action="ConfirmForgotPassword" method="POST" class="bs-validate p-5 rounded shadow-xs">

					<input asp-for="UserId" type="hidden" />
					<!--
					<p class="text-danger">
						Ups! Please check again
					</p>
					-->


					<div class="form-label-group mb-3">
						<input required="" placeholder="کد تایید" asp-for="Token" class="form-control">
						<label asp-for="Token">کد تایید</label>
					</div>
					<div class="input-group-over">
						<div class="form-label-group mb-3">
							<input required="" placeholder="رمز عبور" asp-for="Password" type="password" class="form-control">
							<label fasp-for="رمز عبور">رمز عبور</label>
						</div>

						<!-- `SOW : Form Advanced` plugin used -->
						<a href="#" class="btn fs--12 btn-password-type-toggle" data-target="#Password">
							<span class="group-icon">
								<i class="fi fi-eye m-0"></i>
								<i class="fi fi-close m-0"></i>
							</span>
						</a>

					</div>



					<div class="row">

						<div class="col-12 col-md-6 mt-4">
							<button type="submit" class="btn btn-primary btn-block">
								تایید
							</button>
						</div>

					</div>

				</form>

			</div>

		</div>

	</div>
</section>