@model LinkShortener.Models.Link.ShowAllLinksModel<LinkShortener.Models.Link.GlobalLinkModel>

@{
    Layout = "_MyLayout";
}

<div class="container Statics_container">
    <partial name="_LinkSortPartial" model="Model.SortModel" />
    <partial name="_LinkPagingPartial" model="Model.SortModel" />
    <hr />
    @foreach (var item in Model.AllLinks)
    {
        <div class="row Statics_row">
            <div class="col2">
                <a target="_blank" href="@item.MainLink"> @item.MetaTitleModel</a>
            </div>
            <div class="col2">
                @{ var link = $"{item.ShortLink}%24";}
                <a target="_blank" href="@link"> @item.ShortLink</a>
            </div>
        </div>
    }
    <hr />
    <partial name="_LinkPagingPartial" model="Model.SortModel" />
</div>